body {
    background-image: linear-gradient(to left, #f3edc9, #cfe4e9);
}
#example-list {
    background-color: #ffcc99;
}
#factorial-title {
    margin-top: 2%;
    text-align: center;
}
#exampleRow {
    border: solid #00ccff;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px
}
#factoral-info {
    background-color: lightblue;
    text-align: center;
}
#inputRow{
    text-align:center;
}
#factoral-input {
    border: solid green 2px;
    border-radius: 3px;
}

.container-fluid {
    text-align: center;
}

.factoral-output {
    border: solid green 2px;
    border-radius: 3px;
}

.user-output {
    text-align: center;
}

#output-list {
    text-align: center;
}
#more-info{
    background-color: lightgray;
}
#output-list {
    background-color: #ffcc99;
}
#output-container{
    margin-top:10px;
}

#output-index {
    display: inline;
}

#output-code {
    display: none;
}

#output-solve {
    display: none;
}

#output-solvejs {
    display: none;
}

#output-codejs {
    display: none;
}